<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf86w2W2o86l58CtNSVIlikXKUoq-Gg7s</string>
	<key>GCM_SENDER_ID</key>
	<string>298809953555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yakgwa.Yakgwa</string>
	<key>PROJECT_ID</key>
	<string>yakgwa-403ae</string>
	<key>STORAGE_BUCKET</key>
	<string>yakgwa-403ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298809953555:ios:d5962b5f1a250dd2721ee6</string>
</dict>
</plist>